Source: ros-indigo-tile-map
Section: misc
Priority: extra
Maintainer: Marc Alban <malban@swri.org>
Build-Depends: debhelper (>= 9.0.0), libqt4-dev, libqt4-opengl-dev, qt4-qmake, ros-indigo-catkin, ros-indigo-mapviz, ros-indigo-pluginlib, ros-indigo-roscpp, ros-indigo-swri-math-util, ros-indigo-swri-transform-util, ros-indigo-swri-yaml-util, ros-indigo-tf
Homepage: https://github.com/swri-robotics/mapviz
Standards-Version: 3.9.2

Package: ros-indigo-tile-map
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4-dbus, libqt4-network, libqt4-opengl, libqt4-script, libqt4-test, libqt4-xml, libqtcore4, qt4-qmake, ros-indigo-mapviz, ros-indigo-pluginlib, ros-indigo-roscpp, ros-indigo-swri-math-util, ros-indigo-swri-transform-util, ros-indigo-swri-yaml-util, ros-indigo-tf
Description: Tile map provides a slippy map style interface for visualizing OpenStreetMap and GooleMap tiles.
 A mapviz visualization plug-in is also implemented
