Source: ros-lunar-multires-image
Section: misc
Priority: extra
Maintainer: Marc Alban <malban@swri.org>
Build-Depends: debhelper (>= 9.0.0), libqt5core5a, libqt5gui5, libqt5opengl5, libqt5opengl5-dev, libqt5widgets5, ros-lunar-catkin, ros-lunar-mapviz, ros-lunar-pluginlib, ros-lunar-roscpp, ros-lunar-rospy, ros-lunar-swri-math-util, ros-lunar-swri-transform-util, ros-lunar-swri-yaml-util, ros-lunar-tf
Homepage: https://github.com/swri-robotics/mapviz
Standards-Version: 3.9.2

Package: ros-lunar-multires-image
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5core5a, libqt5gui5, libqt5opengl5, libqt5widgets5, ros-lunar-mapviz, ros-lunar-pluginlib, ros-lunar-roscpp, ros-lunar-rospy, ros-lunar-swri-math-util, ros-lunar-swri-transform-util, ros-lunar-swri-yaml-util, ros-lunar-tf
Description: multires_image
